.card-animation {
    transition: transform 150ms ease-in-out;
}

.card-animation:hover {
    transform: scale(1.02);
}

.item_in_list {
    color: #fffffe;
}

.item_in_list:hover {
    color: #5f6c7b;
}

.item_in_list:active {
    background-color: #fffffe !important;
}

.scaled-container {
  transform: scale(0.85);
  transform-origin: center;

}

.top-container {
    background-color: #e6f4ff;
    height: 100%;
    display: flex;
    justify-content: center;
}

::-ms-reveal {
  filter: invert(100%) ;
}